## 2장 코드정리

이 파일은 2장 학습하면서 실행한 내용을 정리한 것이다.

날짜 : 2025.9.9

학번 : 202011578

저자 : 최민호    

----------

# __기본 입출력 함수__

## print() 함수
숫자나 문자열 등의 데어터나 수식을 화면에 출력할때 사용

In [1]:
print(10+20) #( ) 속의 연산 결과 출력

30

In [2]:
print("동양미래대학교") # 문자열 출력

동양미래대학교

In [5]:
print("abc "*3) # 문자열 3번 출력

abc abc abc

In [6]:
x = 25
y = 32
z = x+y
print(x,y) #변수 x, y의 값 출력

25 32

In [7]:
print(x, '+', y, '=', z) # 변수 x, y, z의 값 출력

25 + 32 = 57

-------------

## print() 함수-서식 지정
|서식|설명|사용 예|
|---|---|---|
|%d|10진수 정수로 출력|print("%d" %10)|
|%f|실수로 출력|print("%f" %1.2)|
|%s|문자열 출력|print("%s" %"cat")|
|%e|한 글자 출력|print("%c" %"p")|
|%x|16진수 정수로 출력|print("%x" %10)|
|%o|8진수 정수로 출력|print("%o" %8)|

In [10]:
print(10+20)

30

In [11]:
print("10"+"20") #문자열 연결

1020

In [13]:
print("abc " * 3) #문자열 3번 반복

abc abc abc

In [14]:
n=10
print("n = %d" %n) #서식 지정 출력

n = 10

In [15]:
m = 5.2
print("m=%.1f, n=%d" %(m,n)) #%.1f = 소수점 첫째자리까지 출력

m=5.2, n=10

---

## input() 함수
키보드를 이용하여 숫자나 문자열 등의 데이터를 입력 받을 때 사용   
입력된 정보는 문자열이다.

In [16]:
n = input('type a number: ')

In [ ]:
n #문자열로 입력된다

'3'

In [18]:
int(n) #문자열을 정수로 변환

3

In [20]:
float(n) #문자열을 실수형으로 변환

3.0

In [23]:
n = str(3) #정수를 문자열로 변환
n

'3'

---

## 입출력 함수의 사용 예

In [6]:
#문자열 결합 후 출력
name = input('Name: ') #문자열 입력
print("Hello, " + name)

Hello, MINO

In [4]:
#두 정수를 입력 받아 곱셈 결과 출력
a = int(input('Number 1: '))
b = int(input('Number 2: '))
print(a * b)

6

In [5]:
# 섭씨온도(C)를 입력 받아 화씨온도(F)로 바꾸어 출력
C = float(input("Type 섭씨온도 : ")) #입력 문자열을 실수로 변환
F = C*9/5+32 #온도 변환
print("화씨온도는", F)

화씨온도는 95.0

---

# __기본 자료형__

## 부울형(Boolean)

참(True) 또는 거짓(False) 중 하나의 값을 갖는 자료형(True, False)    
비교 결과를 저장할 때 사용

In [11]:
aVar = True
bVar = False
print(type(aVar))

<class 'bool'>

In [12]:
a=1
b=2
c=a>b
c

False

In [13]:
d=a<b
d

True

---

## 정수(integer)형

In [14]:
#소수점 없는 숫자 표현
intVar = 5
print(type(intVar))

<class 'int'>

In [19]:
#여러 지 정수 표현
print(1, 23, 3493)          # 10진수
print(0b0110101, 0b110010)  # 2진수
print(0o1, 0o27, 0o6645)    # 8진수
print(0x1, 0x17, 0xDA5)     # 16진수

1 23 3493
53 50
1 23 3493
1 23 3493

---

## 실수(float)형

In [22]:
fVar = 1.0
print(type(fVar))

<class 'float'>

In [23]:
# 여러 가지 실수 표현
0., 0.0, .0, 1., 1.0, 1e0, 1.e0, 1.0e2

(0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 100.0)

---

## 쉽게 식별할 수 있도록 _를 사용한 숫자의 표현(파이썬 3.6 부터 적용)

In [24]:
100_000.000_0001, 0x_FF_FF, 0o7_777, 0b_1010_1010

(100000.0000001, 65535, 4095, 170)

In [25]:
0.00_10_27

0.001027

---

## 문자열(string)
나열된 문자들   
' ' 또는 " " 로 둘러 쌈

In [27]:
strVar = "test"
print(type(strVar))

<class 'str'>

In [31]:
print('This is a literal string')

print("This is another string")

# 속에 작은 따옴표를 사용할 경우
print("I'm a Python fanatic")

# 속에 큰 따옴표를 사용할 경우
print('I"m a Python fanatic')

# 문장을 두 줄 이상으로 표시할 경우
print('A not very long string \
that spans two lines')

# 출력을 두 줄 이상으로 표시할 경우
print("""A not very long string
that spans two lines""")

This is a literal string
This is another string
I'm a Python fanatic
I"m a Python fanatic
A not very long string that spans two lines
A not very long string
that spans two lines

---

# __연산자__

## 지정 연산자(assignment operator); 할당연산자

변수의 값을 지정하기 위해 사용 (=)

---

## 산술 연산자(arithmetic operator)

|연산자|설명|사용 예|
|:---:|---|---|
|x + y|x와 y를 더함|c = a + b|
|x - y|x에서 y를 뺌|s = a + b|
|x * y|x와 y를 곱함|m = a * b|
|x / y|x를 y를 나눔|d = a / b|
|x // y|x를 y를 나눔(정수 나눗셈)|d = a // b|
|x % y|x를 y를 나눈 나머지|r = a % b|
|x ** y|x의 y 제곱|r = 2 ** 5|

In [38]:
a = 10
b = 3
c = a % b
d = a // b
e = a / b