## 2장 코드정리

이 파일은 2장 학습하면서 실행한 내용을 정리한 것이다.

날짜 : 2025.9.9

학번 : 202011578

저자 : 최민호

----------

## print() 함수
숫자나 문자열 등의 데어터나 수식을 화면에 출력할때 사용

In [1]:
print(10+20) #( ) 속의 연산 결과 출력

30

In [2]:
print("동양미래대학교") # 문자열 출력

동양미래대학교

In [5]:
print("abc "*3) # 문자열 3번 출력

abc abc abc

In [6]:
x = 25
y = 32
z = x+y
print(x,y) #변수 x, y의 값 출력

25 32

In [7]:
print(x, '+', y, '=', z) # 변수 x, y, z의 값 출력

25 + 32 = 57

-------------

## print() 함수-서식 지정
|서식|설명|사용 예|
|---|---|---|
|%d|10진수 정수로 출력|print("%d" %10)|
|%f|실수로 출력|print("%f" %1.2)|
|%s|문자열 출력|print("%s" %"cat")|
|%e|한 글자 출력|print("%c" %"p")|
|%x|16진수 정수로 출력|print("%x" %10)|
|%o|8진수 정수로 출력|print("%o" %8)|

In [10]:
print(10+20)

30

In [11]:
print("10"+"20") #문자열 연결

1020

In [13]:
print("abc " * 3) #문자열 3번 반복

abc abc abc

In [14]:
n=10
print("n = %d" %n) #서식 지정 출력

n = 10

In [15]:
m = 5.2
print("m=%.1f, n=%d" %(m,n)) #%.1f = 소수점 첫째자리까지 출력

m=5.2, n=10

---

## input() 함수
키보드를 이용하여 숫자나 문자열 등의 데이터를 입력 받을 때 사용   
입력된 정보는 문자열이다.

In [16]:
n = input('type a number: ')

In [ ]:
n #문자열로 입력된다

'3'

In [18]:
int(n) #문자열을 정수로 변환

3

In [20]:
float(n) #문자열을 실수형으로 변환

3.0

In [23]:
n = str(3) #정수를 문자열로 변환
n

'3'

---

## 입출력 함수의 사용 예

In [ ]:
#문자열 결합 후 출력
name = input('Name: ') #문자열 입력
print("Hello, " + name)

Hello,

In [4]:
#두 정수를 입력 받아 곱셈 결과 출력
a = int(input('Number 1: '))
b = int(input('Number 2: '))
print(a * b)

6

In [5]:
# 섭씨온도(C)를 입력 받아 화씨온도(F)로 바꾸어 출력
C = float(input("Type 섭씨온도 : ")) #입력 문자열을 실수로 변환
F = C*9/5+32 #온도 변환
print("화씨온도는", F)

화씨온도는 95.0